@model IEnumerable<RottenTomatoes.Models.Top10>

@{
    ViewData["Title"] = "Index";
}

<style>   
    /* Estilo para la tabla */
    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }

    /* Estilo para las filas */
    tr {

        border: 1px solid black;
    }

    /* Estilo para las celdas */
    td {
        padding: 10px;
        text-align: center;
        vertical-align: middle;
    }

    /* Estilo para las filas impares */
    tr:nth-child(odd) {
        background-color: #f2f2f2;
    }

    /* Estilo para el encabezado de la tabla */
    th {
        background-color: linear-gradient(35deg, #172b3b, #1f3849);
        color: black;
        font-weight: bold;
        padding: 10px;
        text-align: center;
        vertical-align: middle;
    }

    /* Estilo para los enlaces */
    a {
        color: #172b3b;
    }

    /* Estilo para los enlaces al pasar el cursor por encima */
    a:hover {
        color: #1f3849;
        text-decoration: none;
    }
</style>

<h1>Top 10</h1>


<h2>Películas</h2>
<table>
    <thead>
        <tr>
            <th>
                Título
            </th>
            <th>
                URL
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Take(10))
        {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.title)
                    </td>
                    <td><a href="@item.url" target="_blank">@item.url</a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Top10Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Top10Id">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.Top10Id">Eliminar</a>
                    </td>
                </tr>
        }
    </tbody>
</table>

<h2>Series</h2>
<table>
    <thead>
        <tr>
            <th>
                Título
            </th>
            <th>
                URL
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Skip(10))
        {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.title)
                    </td>                   
                    <td><a href="@item.url" target="_blank">@item.url</a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Top10Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Top10Id">Detalles</a> |
                                <a href="@Url.Action("Delete", new { id = item.Top10Id })">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
