@model RottenTomatoes.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CriticReview)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CriticReview)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AudienceReview)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AudienceReview)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clasification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clasification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalLanguage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginalLanguage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Director)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Runtime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Runtime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActorRoles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActorRoles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TomatometerScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TomatometerScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AudienceScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AudienceScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Platforms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Platforms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Synopsis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Synopsis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MovieId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
